<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
        <%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved.<br> 
        <ul>
            <% @user.errors.full_message.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="form-group">
        <%= f.label "Name" %>
        <%= f.text_field :name, class: "form-control" %>
    </div><br>

    <div class="form-group">
        <%= f.label "Email" %>
        <%= f.text_field :email, class: "form-control" %>
    </div><br>

    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"%>
    </div><br><br>
    
    <div class="form-group">
        <%= f.submit "Create User" %>
    </div>
<% end %> 
