<h1 align="center"> <% @date = Date.today  %> <%= @date.strftime("%B")%> Horoscopes </h1>

<% if current_user.admin %>
<p align="center"><%= link_to "New Horoscope", new_horoscope_path %></p>
    <ul>
    <% @horoscopes.each do |horoscope| %>
        <li align="center"><%= link_to "Show #{horoscope.sign}", horoscope_path(horoscope) %></li>
    <% end %>
    </ul>    
<% else %>
    <ul><% @horoscopes.each do |horoscope| %>
            <% if horoscope.month.name == "February" %>
            <li align="center"><%= horoscope.sign %>: <%= horoscope.content %></li>
            <% end %>
        <% end %>
    </ul>     
<% end %>

<p align="center"><%= link_to "View Horoscopes by Month", months_path %></p>