<div align="center">
    <h1><%= @journal.horoscope.month.name %> 2021</h1>

    <h2><u><%= @journal.horoscope.sign %> <%= @journal.title %></u></h2>
    <p><%= @journal.description %></p>
    <p>Mood: <%= @journal.mood %></p>

    <%= link_to "Edit Journal", edit_journal_path(@journal) %><br>
    <%= link_to "All Journals", journals_path %><br>
</div>    