<!DOCTYPE html>
<html>
  <head>
    <title>Astromonthly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <% if session[:user_id] %>
      <%= link_to "Home", user_path(session[:user_id]) %> | 
      <%= link_to "Logout", logout_path %><br><br>
  </div>
  <% end %>

  <body>
    <div class="wrapper">
      <% if flash[:error] %>
      <h2 style="color:red;"><%=flash[:error]%></h2>
      <% end %>
      
    <%= yield %>
  </body>
</html>
