<!DOCTYPE html>
<html>
  <head>
    <title>Astromonthly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div align="center">
    <% if session[:user_id] %>
      <%= link_to "Home", user_path(session[:user_id]) %> &star; 
      <%= link_to "Horoscopes", horoscopes_path %> &star; 
      <%= link_to "Your Journals", journals_path %> &star;
      <%= link_to "Logout", logout_path %><br><br>
  </div>
  <% end %>

  <body>
    <div class="wrapper">
      <% if flash[:error] %>
      <h2 style="color:red;"><%=flash[:error]%></h2>
      <% end %>
      
    <%= yield %>

      <footer align="center">
        <br><small>&copy; 2021 <strong>Astromonthly</strong> &star; created for you by <%= link_to "jenise", "https://github.com/jeniseruehle" %>
          <br></div></small>
      </footer>
  </body>
</html>
